<div>

    <h1>EXPENSES PAGE</h1>

    <form ng-submit="$ctrl.addExpense()">
        <div>deduct $<input type="text" ng-model="$ctrl.newExpenseAmount"></div>
        <div>NOTE: <input type="text" ng-model="$ctrl.newExpenseNote"></div>
        <div><input type="submit" value="Add Expense"></div>
    </form>

    <h3>Total Expenses</h3>
    <h3>$249</h3>

    <table>
        <tr ng-repeat="ExpenseEntry in $ctrl.expenseEntries">
            <td>{{expenseEntry.amount}}</td>
            <td>{{expenseEntry.note}}</td>
            <td>{{expenseEntry.createdAt}}</td>
        </tr>
    </table>

</div>
